.card {
  list-style: none;
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.name {
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}
