.button {
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
  margin: 0.4rem;
}

.primary {
  background-color: rgb(115, 220, 177);
}

.secondary {
  border: rgb(134, 170, 206) solid 1px;
}

.danger {
  background-color: rgb(202, 54, 54);
}
