.spaceMissionForm {
  background: linear-gradient(135deg, #c2c2ed, #3a2f6b);
  color: rgb(71, 15, 89);
  padding: 2rem;
  margin: 2rem auto;
  max-width: 420px;
  border-radius: 1rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

/* Заголовок */
.spaceMissionForm h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

/* Label */
.spaceMissionForm label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

/* Input */
.spaceMissionForm input {
  width: 80%;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Select */
.spaceMissionForm select {
  width: 80%;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

/* Текст результата */
.spaceMissionForm p {
  margin-top: 1rem;
  color: rgb(220, 213, 228);
  font-size: 1.1rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.8rem;
  border-radius: 0.5rem;
}
