.container{
    background-color: rgb(236, 227, 216);
    border-radius: 1rem;
    padding: 1.4rem;
    margin: 1.4rem;
     box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.profileName {
    color: rgb(90, 39, 138);
    font-size: 16px;
}